#bottom-containers {
    possition: relative;
}
.object-title {
    text-align: center;
    color: #3b4d81;
    font-size: 3.5vh;
}
.object-text {
    text-align: right;
    color: #3b4d81;
    font-size: 3.5vh;
    margin-top: -1.5vh;
    margin-right: 1vh;
}
.object-info {
    text-align: left;
    color: #3b4d81;
    font-size: 3.5vh;
    margin-top: -1.5vh;
}
#object-contrainer {
    border-bottom: 2px solid;
    border-bottom-color: #3b4d81;
}
#scroll {
    overflow-y: scroll;
    height: 39vh;
    width: 47.1vh;
    /*position: relative;*/
    overflow-x: hidden;
}
