@charset "utf-8";
	.NormalCharacterStyle7
{
	font-family : Bauhaus 93;
	font-size : 18pt;
	color : #3B4D80;
	color : rgb(59, 77, 128);
}
.NormalCharacterStyle9
{
	font-family : Bauhaus 93;
	font-size : 26pt;
	color : #3B4D81;
	color : rgb(59, 77, 129);
}
.NormalCharacterStyle8
{
	font-family : Bauhaus 93;
	font-size : 26pt;
	color : #FFD105;
	color : rgb(255, 209, 5);
}
.NormalCharacterStyle6
{
	font-family : Bauhaus 93;
	font-size : 12pt;
	color : #3B4D80;
	color : rgb(59, 77, 128);
}
.ORANGEBG_1_
{
	background : #D7E1F2;
	background : rgba(215, 225, 242, 1);
	width : 320pt;
	height : 344pt;
}
.HEADERBLACK_2_
{
	background : #010205;
	background : rgba(1, 2, 5, 1);
	width : 1000pt;
	height : 55pt;
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
	width : 537pt;
	height : 19pt;
}
.ORANGEBG_2_
{
	background : #D7E1F2;
	background : rgba(215, 225, 242, 1);
	width : 60pt;
	height : 20pt;
}
.ORANGEBG_5_
{
	background : #D7E1F2;
	background : rgba(215, 225, 242, 1);
	width : 60pt;
	height : 20pt;
}
.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
	width : 1000pt;
	height : 243pt;
}
.ORANGEBG
{
	background : #F58235;
	background : rgba(245, 130, 53, 1);
	width : 1000pt;
	height : 570pt;
}
.ORANGEBG_4_
{
	background : #D7E1F2;
	background : rgba(215, 225, 242, 1);
	width : 60pt;
	height : 20pt;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
	width : 718pt;
	height : 141pt;
}
.ORANGEBG_3_
{
	background : #D7E1F2;
	background : rgba(215, 225, 242, 1);
	width : 60pt;
	height : 20pt;
}
.LOGO
{
	background-image : url(LOGO.png);
	background-repeat : no-repeat;
	width : 32pt;
	height : 48pt;
}
.SOCIALIZEtag
{
	background-image : url(SOCIALIZEtag.png);
	background-repeat : no-repeat;
	width : 324pt;
	height : 102pt;
}
.NormalCharacterStyle2
{
	font-family : Bauhaus 93;
	font-size : 12pt;
	color : #3B4D80;
	color : rgb(59, 77, 128);
}
.NormalCharacterStyle4
{
	font-family : Bauhaus 93;
	font-size : 18pt;
	color : #3B4D80;
	color : rgb(59, 77, 128);
}
.NormalCharacterStyle5
{
	font-family : Bauhaus 93;
	font-size : 18pt;
	color : #3B4D80;
	color : rgb(59, 77, 128);
}
.NormalCharacterStyle1
{
	font-family : Bauhaus 93;
	font-size : 12pt;
	color : #3B4D80;
	color : rgb(59, 77, 128);
}
.NormalCharacterStyle
{
	font-family : Bauhaus 93;
	font-size : 12pt;
	color : #3B4D80;
	color : rgb(59, 77, 128);
}
.NormalCharacterStyle3
{
	font-family : Bauhaus 93;
	font-size : 12pt;
	color : #3B4D80;
	color : rgb(59, 77, 128);
}
