@charset "utf-8";
	.DBLUEBG
{
	background : #F58235;
	background : rgba(245, 130, 53, 1);
	width : 1000pt;
	height : 973pt;
}
.LBBG
{
	background : #D7E1F2;
	background : rgba(215, 225, 242, 1);
	width : 640pt;
	height : 833pt;
}
.CAMPS
{
	background-image : url(CAMPS.png);
	background-repeat : no-repeat;
	width : 234pt;
	height : 84pt;
}
.image8
{
	background-image : url(image8.png);
	background-repeat : no-repeat;
	width : 340pt;
	height : 106pt;
}
.st0
{
	background : #F58235;
	background : rgba(245, 130, 53, 1);
	width : 9pt;
	height : 9pt;
}
.st1
{
	background : #F58235;
	background : rgba(245, 130, 53, 1);
	width : 9pt;
	height : 9pt;
}
.image6
{
	background-image : url(image6.png);
	background-repeat : no-repeat;
	width : 340pt;
	height : 67pt;
}
.st2
{
	border-style : Solid;
	border-color : #3B4D81;
	border-color : rgba(59, 77, 129, 1);
	border-width : 2pt;
	width : 340pt;
	height : 0pt;
}
.image3
{
	background-image : url(image3.png);
	background-repeat : no-repeat;
	width : 159pt;
	height : 42pt;
}
.image5
{
	background-image : url(image5.png);
	background-repeat : no-repeat;
	width : 340pt;
	height : 67pt;
}
.image4
{
	background-image : url(image4.png);
	background-repeat : no-repeat;
	width : 196pt;
	height : 19pt;
}
.image9
{
	background-image : url(image9.png);
	background-repeat : no-repeat;
	width : 54pt;
	height : 27pt;
}
.st3
{
	background : #F58235;
	background : rgba(245, 130, 53, 1);
	width : 55pt;
	height : 27pt;
}
.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
	width : 1000pt;
	height : 243pt;
}
.HEADERBLACK_2_
{
	background : #010205;
	background : rgba(1, 2, 5, 1);
	width : 1000pt;
	height : 55pt;
}
.image7
{
	background-image : url(image7.png);
	background-repeat : no-repeat;
	width : 340pt;
	height : 67pt;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
	width : 718pt;
	height : 141pt;
}
.LOGO
{
	background-image : url(LOGO.png);
	background-repeat : no-repeat;
	width : 32pt;
	height : 48pt;
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
	width : 537pt;
	height : 19pt;
}
.NormalCharacterStyle
{
	font-family : Bauhaus 93;
	font-size : 18pt;
	color : #3B4D81;
	color : rgb(59, 77, 129);
}
.NormalCharacterStyle5
{
	font-family : Bauhaus 93;
	font-size : 24pt;
	color : #3B4D81;
	color : rgb(59, 77, 129);
}
.NormalCharacterStyle4
{
	font-family : Bauhaus 93;
	font-size : 18pt;
	color : #3B4D81;
	color : rgb(59, 77, 129);
}
.NormalCharacterStyle3
{
	font-family : Bauhaus 93;
	font-size : 18pt;
	color : #3B4D81;
	color : rgb(59, 77, 129);
}
.NormalCharacterStyle2
{
	font-family : Bauhaus 93;
	font-size : 18pt;
	color : #3B4D81;
	color : rgb(59, 77, 129);
}
.NormalCharacterStyle1
{
	font-family : Bauhaus 93;
	font-size : 18pt;
	color : #3B4D81;
	color : rgb(59, 77, 129);
}
