#balance-container {
    background-color: #fce600;
}
#balance-close-button {
    padding-right: 0.4vw;
}
#ballance-info-bar {
    padding-left: 0.4vw;
    color: #3b4d81;
    font-size: 1.1vw;
}
#amount-text {
    padding-left: 0.65vw;
    padding-bottom: 0.8vw;
    margin-bottom: 0.8vw;
    color: #3b4d81;
    font-size: 1.7vw;
}
#submit-button {
    background-color: #3b4d81;
    font-size: 1.2vw;
    border-radius: 0;
    color: #fce600;
    width: 4vw;
    height: 2vw;
}
#input-number {
    width: 10vw;
}
