#balance-container{
  background-color: #fce600;

}
#balance-close-button{
  padding-right: 1vh;
}
#ballance-info-bar{
  padding-left: 1vh;
  color:#3b4d81;
  font-size: 3vh;
}
#amount-text{
  padding-left: 1vh;
  padding-bottom: 2vh;
  color:#3b4d81;
  font-size: 3vh;
}
#submit-button{
  background-color:#3b4d81;
  font-size: 12pt;
  border-radius: 0;
  color:#fce600;
}
#input-number{
  
}
