#bracelet-container{
  background-color: #fce600;
    position: relative;
}
.object-text-bracelet {
  text-align: right;
  color: #3b4d81;
  font-size: 1.4vw;
  /*margin-top: -1.5vh;*/
  margin-right: 1.3vw;
}
.object-info-bracelet {
  text-align: left;
  color: #3b4d81;
  font-size: 1.4vw;
  padding-left: 1.3vw;
  /*margin-top: -1.5vh;*/
}
#bracelet-close-button{
  padding-right: 0.56vw;
}
.clckbl{
    border-bottom: 2pt #3b4d81 dashed;
}
.clckbl:hover{
    border-bottom: 2pt #3b4d81 solid;
    cursor: pointer;
}
