#general-container{
  background-color: #fce600;
}
.object-text-general {
  text-align: right;
  color: #3b4d81;
  font-size: 1.4vw;
  /*margin-top: -1.5vh;*/
  margin-right: 1.4vw;
}
.object-info-general {
  padding-left: 1.4vw;
  color: #3b4d81;
  font-size: 1.4vw;
  /*margin-top: -1.5vh;*/
}
#general-close-button{
  padding-right: 1.3vw;
  color: #3b4d81;
  font-size: 1.4vw;

}
