#general-container{
  background-color: #fce600;
}
.object-text-general {
  text-align: right;
  color: #3b4d81;
  font-size: 2.7vh;
  /*margin-top: -1.5vh;*/
  margin-right: 2vh;
}
.object-info-general {
  padding-left: 1vh;
  color: #3b4d81;
  font-size: 2.7vh;
  /*margin-top: -1.5vh;*/
}
#general-close-button{
  padding-right: 1vh;
  color: #3b4d81;
  font-size: 2.7vh;
}
