*{
	padding: 0;
	margin: 0;
	font-family: bauhaus93;
}

.TOPBAR
{
	padding-top: 36pt;
	position: relative;
	background : #3B4D81;
	background : rgba(59, 77, 129, 1);
	width : 100%;
	height : 55pt;
}
#daybuttns{
		list-style-type: none;
		height : 55pt;
		width : 460pt;
		margin: auto;
		
}

.BTN
{
	display:inline-block;
	background : #3B4D81;
	background : rgba(59, 77, 129, 1);
	cursor: pointer;
	width : 140pt;
	height : 100%;
	text-align: center;
		color : #FFD105;
	color : rgb(255, 209, 5);
	font-size : 36pt;
}
/*TO BE DELETED WITH THE JS*/
#leftBtnDay{
	background : #D7E1F2;
	background : rgba(215, 225, 242, 1);
	color: #F58235;

}
/**/
#centerBtnDay{
	margin-left:17pt;
	margin-right:17pt;
}
.BTN:hover{
	background : #D7E1F2;
	background : rgba(215, 225, 242, 1);
	color : #F58235;
	color : rgb(245, 130, 53);
}


.schedule{
  background : #D7E1F2;
  background : rgba(215, 225, 242, 1);
  width : 460pt;
  height : auto;
  margin: auto;
  color : #3B4D81;
  display: block;
}
/*ALSO FOR JS*/
#fday{
	display: block;
}
#sday{
	display: none;
}
#tday{
	display: none;
}
/**/
.event{
	width:322pt;
	margin:auto;
	display: block;
	border-left: 2pt  #3B4D81 solid;
	height : auto;
	padding-bottom: 14pt;
}
.time{
	height : 23pt;
	border-bottom: 2pt  #3B4D81 solid;
}
.time p{
	font-size : 12pt;
	color : #3B4D81;
	height: auto;
	width:auto;
	margin-left:2pt;
	padding-top: 8pt;
}
.desc{
	text-align: center;
}
.desc h2{
	margin-top: 4pt;
	font-size : 24pt;
}
.desc p{
	font-size : 14pt;
	line-height : 18pt;
}

#firsttime{
	padding-top: 14pt;
}

/* LOWER IMAGE WITH STAGES*/

#imges{
	height:auto;
	margin-top: 50pt;
	margin-bottom: -8px;
}
#imges div{
	height: inherit;
	width:80%;
		margin:auto;
	background-image: url(images/STAGES.png);
}
#stages{
	height:100%;
	width: 100%;
	position: relative;
	
}

/* TAB SELECTION */
#left_btns {
	margin-top: 11vh;
	position: absolute; /* to be changed when scrolled from bottom almost a footer's size*/
	float: left;
}

.section{
	background-color: #FFD105;
	cursor: pointer;
	display: flex;
	margin-top:4pt;
	margin-bottom:14pt;
	height: 20vh;
	display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
	align-items: center;
	
	overflow: visible;
}
#firstsec{
	width:2vw;
}
#secsec{
	width:2vw;
}
#thirsec{
	width:2vw;
}
.sectext{
	display: none;
	overflow: hidden;
	float: left;
	width: 80%;
	font-size: 2vh;
	margin-left: 7%;
	color: #3B4D81;
}
#left_btns img{
	position:relative;
	display: block;
	float: right;
	margin-left:10%;
	height: 20vh;
	right: 0;
	
}
