@font-face {
    font-family: "bauhaus93";
    src:url("../../fonts/bauhaus93.ttf") format("truetype");
}
#title-text {
  margin-top: 47px;
  font-size: 50pt;
  text-align: center;
  color: #fce600;
}
.acc-button {
  background-color: #ff9933;
}
.acc-button-text {
  color: #fce600;
  font-size: 12pt;
  text-align: center;
}
#title {
  background-color: #ff9933;
}
#main {
  background-color: #3c4c80;
}
#buttons-form-container {
  background-color: #ccccff;
  /*height: 90vh;*/
  min-height: 750px;
  margin-bottom: 40px;
}
.form-group{
  margin-bottom: 2px;
}
.blank{
  height:47px;
}
