*{
    padding:0;
    margin:0;
}
@font-face {
    font-family: "bauhaus93";
    src:url("bauhaus93.ttf") format("truetype");
}
.heading{
    margin: auto;
    font-size: 170%;
    position: relative;
    display: block;
    padding: 80px;
    text-align: center;
}
body{
    font-family : Bauhaus 93;
	font-size : 18pt;
	color : #3B4D80;
	color : rgb(59, 77, 128);
    background : #D7E1F2;
}
.desc{
    text-align: left;
    padding-left: 50px;
    
}
.desc p{
    padding-bottom: 30px;
}
.desc p1{
    font-size: 130%;
	text-align: right;
}
p2{
    font-size: 65%;
}
.map {
    float: right;
    position: relative;
    margin: auto;
    padding-right: 100px;
}
#contents{
    height: 100%;
    position: relative;
}
#contents div{
    display: inline-block;
    padding-bottom: 40px;
}
#footer{
    clear: both;
}