.banner{
	position: fixed;
	background: rgba(22, 24, 25,0.6);
	height: 100%;
	width: 100%;
	z-index: 99999;
	display: none;
}
.central{
	width: 60vw;
	position: relative;
	margin: auto;
	text-align: center;
	margin-top: 40pt;
}
.topcont{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 10pt;
}

#toptext{
	vertical-align: top;
	font-size: 18pt;
	text-align: right;
	margin-left: 10pt;
	color: #D7E1F2;
}
.closebanner{
	color: #F58235;
	cursor: pointer;
}

#smallline{
	padding-top: 8pt;
	font-size: 14pt;
}
