
#blank{
	height:100vh;
	margin-top:-90vh;
	border: 1px white solid;
	display:block;
}

#wrapper p{

		color: rgb(215, 225, 242);
}
#txtcont {
	background : #010205;
	background : rgba(1, 2, 5, 1);
	margin-top: -90vh;
	padding-top: 90vh;
	position:relative;
	display:inline-block;
	width: 100%;
	text-align: center;
}
.caption{
		 font-family : bauhaus93, bauhaus;

  color : #FFD105;
  color : rgb(255, 209, 5);
}
#fline{
	 font-size : 38pt;
  margin-top: 20pt;
}

#sline{
	 font-size : 51pt;
	 margin-bottom:10pt;
	 margin-top: 30pt;
}
/*First ARTist, not what you though...*/
#fart{
	margin-top:30pt;
  font-size : 34pt;
}
#sart{
   font-size : 34pt;
}

.smallart{
	margin-top: 6pt;
 font-size : 26pt;
}
#fiart{
	margin-top: 6pt;
  font-size : 34pt;
}
#emptyfart{
	  font-size : 34pt;
}


#imgs{

	margin-top: -25pt;
}
#imgs div{
	height:auto;
	width:700pt;
		margin:auto;
		margin-bottom:-8px;
}
#pictograms{

	width: 700pt;
	position: relative;

}
