#firstpart{
padding-top:47px;
width:100%;
}

#firstpart  img{
	padding:0 15% 0 15%;
	width:70%;
	height:auto;
	margin-bottom:-8.5px;
}

#secondpart{
width:100%;
background-color:#D8E1F2;
}

#secondpart img{
	padding:80px 25% 0 25%;
	width:50%;
	height:auto;
}

#thirdpart{
	padding:30px 25% 0 25%;
width:50%;
background-color:#D8E1F2;
}

#thirdpart img{
	padding:0 10% 0 10%;
	width:80%;
	height:auto;
		margin-bottom:-8.5px;
}
	