@charset "utf-8";
	.ORANGEBG
{
	background : #F58235;
	background : rgba(245, 130, 53, 1);
	width : 1000pt;
	height : 529pt;
}
.BTNRESERVE
{
	background-image : url(BTNRESERVE.png);
	background-repeat : no-repeat;
	width : 275pt;
	height : 186pt;
}
.TENTS
{
	background-image : url(TENTS.png);
	background-repeat : no-repeat;
	width : 300pt;
	height : 91pt;
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
	width : 1000pt;
	height : 243pt;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
	width : 538pt;
	height : 21pt;
}
.HEADERBLACK_2_
{
	background : #010205;
	background : rgba(1, 2, 5, 1);
	width : 1000pt;
	height : 55pt;
}
.LOGO
{
	background-image : url(LOGO.png);
	background-repeat : no-repeat;
	width : 33pt;
	height : 49pt;
}
.NormalCharacterStyle
{
	font-family : Bauhaus 93;
	font-size : 18pt;
	color : #3B4D81;
	color : rgb(59, 77, 129);
}
