@charset "utf-8";
	.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
	width : 1000pt;
	height : 243pt;
}
.image3
{
	background-image : url(image3.png);
	background-repeat : no-repeat;
	width : 320pt;
	height : 361pt;
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
	width : 538pt;
	height : 21pt;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
	width : 720pt;
	height : 142pt;
}
.HEADERBLACK_2_
{
	background : #010205;
	background : rgba(1, 2, 5, 1);
	width : 1000pt;
	height : 55pt;
}
.LOGO
{
	background-image : url(LOGO.png);
	background-repeat : no-repeat;
	width : 33pt;
	height : 49pt;
}
.ORANGEBG
{
	background : #F58235;
	background : rgba(245, 130, 53, 1);
	width : 1000pt;
	height : 82pt;
}
.ORANGEBG_13_
{
	background : #3B4D80;
	background : rgba(59, 77, 128, 1);
	width : 1000pt;
	height : 382pt;
}
.NormalCharacterStyle
{
	font-family : Bauhaus 93;
	font-size : 48pt;
	color : #FCE600;
	color : rgb(252, 230, 0);
}
