*{
	margin:0;
	padding:0;
}

#header {
	width:100%;
	background-color:green;
	display:inline-block;
	position:fixed;
}
#header img{
	width:80px;
	height:auto;
	float:left;
	border: 1px black solid;
}

#nav{
	float:left;
	list-style-type: none;
    margin: 0;
	padding:0;
    overflow: hidden;
	background-color: #333;
	width:94.7%;
	height:70px;
}
#nav li {
	padding-top:12px;
    float: left;
	margin-left:15%;

}

#nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
		color:white;
}

#nav li a:hover {
    background-color: #111;
}
