.banner{
	position: fixed;
	background: rgba(22, 24, 25,0.6);
	height: 100%;
	width: 100%;
	z-index: 99999;
        display: none;
	//display: block;
}
.central{
	min-width: 500px;
        width: 30vw;
	position: relative;
	margin: auto;
	text-align: center;
	margin-top: 7vw;
        padding-bottom: 13px;
        padding-top: 13px;
        background: #FFD105;
}
.reg{
    width: 600px;
}
.expl{
    margin-left: 2pt;
    margin-right: 2pt;
}
.ban{
    width: inherit !important;
}
.topcont{
	display: block;
        margin-left: 25pt;
        margin-right: 25pt;
	vertical-align: middle;
	margin-bottom: 10pt;
}

.toptext{
	vertical-align: top;
	font-size: 18pt;
       
	text-align: left;
	color: #3B4D81;
}
.closebanner{
    margin-right: 3pt;
	color: #F58235;
	cursor: pointer;
}
.extra{
    text-align: center;
    padding-top: 10pt;
    background: #D7E1F2;
    width: 100%;
}

#smallline{
	padding-top: 8pt;
	font-size: 14pt;
}

.toclose{
    text-align: right !important;
}
/*#noReg{
    display: none;
}
#Reg{
    display: none;
}*/
#checkouttable{
    position: relative;
    width: 100%;
}

input{
        background-color: #3B4D81;
    font-family: bauhaus93;
    color: #D7E1F2;
    border: none;
    font-size: 16pt;
    text-align: center;
    width: 120px;
}
select{
        background-color: #3B4D81;
    font-family: bauhaus93;
    color: #D7E1F2;
    border: none;
    font-size: 14pt;
}
.btn{
        background-color: #F58235;
	margin: auto;
	margin-top: 30pt;
        margin-bottom: 15pt;
	width: 180pt;
	height: 44pt;
	display: block;
	font-size: 30pt;
        color: #3B4D81;
	text-align: center;
        cursor: pointer;
}
#regis{
    color:#F58235;
    text-decoration: underline dotted;
}