*{
    padding:0;
    margin:0;
}
@font-face {
    font-family: "bauhaus93";
    src:url("bauhaus93.ttf") format("truetype");
}
body {
	font-family: bauhaus93;
	background : #F58235;
    background : rgba(245, 130, 53, 1);}
.ORANGEBG
{
	background : #F58235;
	background : rgba(245, 130, 53, 1);
	width : 1000pt;
	height : 570pt;
}
.BESTINFO
{
	background-image : url(BESTINFO.png);
	background-repeat : no-repeat;
	width : 229pt;
	height : 38pt;
}
.BTNFAQ
{
	background-image : url(BTNFAQ.png);
	background-repeat : no-repeat;
	width : 229pt;
	height : 61pt;
}
.BTNBEST
{
	background-image : url(BTNBEST.png);
	background-repeat : no-repeat;
	width : 90pt;
	height : 37pt;
}
.BTNSIGN
{
	background-image : url(BTNSIGN.png);
	background-repeat : no-repeat;
	width : 229pt;
	height : 61pt;
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
	width : 538pt;
	height : 21pt;
}
.BTNPER
{
	background-image : url(BTNPER.png);
	background-repeat : no-repeat;
	width : 90pt;
	height : 37pt;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
	width : 720pt;
	height : 142pt;
}
.HEADERBLACK_2_
{
	background : #010205;
	background : rgba(1, 2, 5, 1);
	width : 1000pt;
	height : 55pt;
}
.TICKETS
{
	
	width : 264pt;
	height : 50pt;
    margin: auto;
    position: relative;
    display: block;
    padding: 100px;
}
.PERFINFO
{
	background-image : url(PERFINFO.png);
	background-repeat : no-repeat;
	width : 191pt;
	height : 61pt;
}
.BETTERINFO
{
	background-image : url(BETTERINFO.png);
	background-repeat : no-repeat;
	width : 216pt;
	height : 49pt;
}
.BTNBETR
{
	background-image : url(BTNBETR.png);
	background-repeat : no-repeat;
	width : 90pt;
	height : 36pt;
}
.LOGO
{
	background-image : url(LOGO.png);
	background-repeat : no-repeat;
	width : 33pt;
	height : 49pt;
}
.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
	width : 1000pt;
	height : 243pt;
}

#header{
    z-index: 9999;
    border-bottom: 1px solid #FFD105;
}


.dropbtn {

    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #060709;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:9999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #111;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #111;
}








#tickinfo{
	width: 80vw;
	margin: auto;
	color: #3B4D81;
}
.titles{
	text-align: center;
	color:  #FFD105;
}
.tickoffer{
	margin-top: 40pt;
	display: block;
}
.descr{
	display: inline-block;
	position: relative;
}
.pricelink{
	display: inline-block;
	height: 100%;
	width: auto;
	margin-left: 20pt;
	vertical-align: top;
	margin-top: 6pt;
	float: right;
}
.pricelink:hover{
    cursor: pointer;
}
.mline{
	font-size: 20pt;
}
.smallline{
	padding-top: 0;
	margin-top: -2pt;
}
.desccontainer{
	max-width: 45%;
	display: inline-block;
	vertical-align: top;
}
.right{
	text-align: center;
	float: right;
}
.textie{
	margin-top: 40pt;
	font-size: 18pt;
}
.textie p{
	margin-bottom: -5pt;
}

#largebtns{
	clear: both;	
}

.lrgbutt{
	display: inline-block;
	width: 49%;
}
.largebutt{
	margin-top: 25pt;
	margin-left: 80pt;
	border: none;
	background-color: rgb(215, 225, 242);
	color: #3B4D81;
	width: 229px;
	height: 61px;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	float: left;
}
.largebutt p{
	font-size: 22pt;
	margin-top: 6pt;
}
.lbr{
	float: right;
	margin-left: 0pt;
	margin-right: 80pt;
}



/*
.headers h1, h2{
    display: inline-block;
    font-family : bauhaus93, bauhaus;
 
  color : #FFD105;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    
}
.par{
    font-family : Bauhaus 93;
	font-size : 18pt;
	color : #3B4D80;
    
}
.left{
    text-align: left;
    padding-left: 150px;
    font-size: 80%;
}
.images{
    padding-left: 20px;
}
p{
    padding-top: 30px;
}
.right{
    text-align: right;
    padding-right: 150px;
}
#p1{
    padding-top: 30px;
    padding-right: 150px;
    float: right;
}
.perf{
    padding-left: 100px;
}
.signin{
    float: right;
    padding-right: 200px;
}
.FAQ{
    float: left;
    padding-top: 50px;
    padding-left: 100px;
}
*/








#footer {
position:relative;
width:100%;
background-color:#3C4C80;
}

#footerlogo{
    display: block;
	padding: 30px 0 30px 0;
    margin-left: auto;
    margin-right: auto;
	
}

#footernav {
display:block;
position:relative;
left:50%;top:0;
margin-left:-375px; /* negative margin equal to half the width */
width:750px;
list-style:none;
height:7%;
}
#footernav li {
float:left;
}
#footernav a {
display:block;
color:#D7E1F2;
text-align:center;
width:250px; /* fixed width */
text-decoration:none; 
font-size:125%;
}
#footernav li a:hover {
    background-color: #F58235;
}

#social{
    margin: 0 auto; /* to make the div center align to the browser */
    padding: 20px;
    width: 500px; /* set it to anything */
    text-align: center;
	margin-top:30px;
}
#social img{
width:30pt;
height:auto;
margin:0 5px 0 5px;
}
#social img:hover{
cursor:pointer;
}

#copyright{
	margin-top: 30px;
	text-align:center;
	color:#D7E1F2;
}
#contents{
    padding-bottom: 150px;
}
